/* 全て共通 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  overflow-wrap: break-word;
  word-wrap: break-word; 
}
.contents {
  margin: 0px auto;
  width:1300px;
  background: #bfedd5;
  text-align: center;
}
/* h1タグ */
.contents h1 {
  padding: 30px 0; 
  text-align: center;
}

/* h2タグ */
h2 {
  background-color: #F89174; /* 背景色を指定 */
  color: #ffffff; /* フォントカラーを指定 */
  width: 600px; /* 横幅を指定 */
  padding: 5px 0; /* 上下の空白を指定 */
  margin: 20px auto; /* 上下の空白と真ん中に寄せる指定 */
  text-align: center;
}

/* h3タグ */
h3 {
  background-color: #F5F5F5; /* 枠線を指定 */
  width: 600px; 
  padding: 5px 0;
  margin: 20px auto; 
  text-align: center;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #bfedd5 50%, #8eabf6 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
button_line001 table {
margin:auto;
}
/* LINE001 */
.button_line001 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}
.button_line001 a:before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.1);
    transform: translateX(-50%);
}
.button_line001 a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.button_line001 a:hover {
    opacity: 0.7;
}
.button_line001 a:hover:after {
    transform: scale(1, 1);
}
